<h1><%= "Historial de Compras" %></h1>
<br/>
<table class="titledlist" width="100%">
  <thead>
  <tr>
    <th><b><%=  "Folio" %></b></th>
    <th><b><%=  "Fecha" %></b></th>
    <th><b><%=  "Vendedor" %></b></th>
    <th><b><%=  "Lugar" %> </b></th>
    <th><b><%=  "Total" %> </b></th>
    <th><b><%=  "Detalle" %> </b></th>
  </tr>
  </thead>
</table>
<br/>
<%= link_to 'Regresar', clientes_path, class: 'btn btn-primary btn-sm'%>