<%= form_for(@tipopagos) do |f| %>
  <table class=" table table-hover table-sm">
    <!-- mensaje de error -->
    <% @tipopagos.errors.full_messages.each do |error_message| %>
      <%=  error_message %>
    <% end %>
    <tr>
      <td width="25%"><b><%= f.label :nombre, 'Nombre*' %></b> <br> <small> Nombre de tipo de Pago</small></td>
      <td ><%= f.text_field :nombre, size: 50,maxlength: 50, placeholder: 'Ingresar el nombre tipo de pago',
                            id: 'nombre', class: 'form-control',type: 'text', onkeypress: 'return nombrePago(event);'%>
        <br><small id="msg_nombre"></small></td>
    </tr>
  </table>
  <table class="table">
    <tr>
      <td align="center">
        <small class="form-text text-muted">Nota: Los campos marcados con * son obligatorios</small>
        <br>
         <!-- Agregacion ID-->
        <!-- funcion cancelar con  la confirmación-->
        <% if nombre=="Crear Tipo de Pago" %>
          <%= f.submit 'Guardar', class: 'btn btn-primary btn-sm',onclick: 'return validarFormularioPagos();', id: 'btnGuardar'%>
        <% else %>
          <%= f.submit 'Guardar Cambios', class: 'btn btn-primary btn-sm', onclick: 'return validarFormularioPagos();', id: 'btnGuardar'%>
        <% end %>
        <%= link_to 'Cancelar', '#', class: 'btn btn-danger btn-sm', data: {toggle: 'modal', target: '#ModalForm'} %>
      </td>
    </tr>
  </table>
<% end %>



