
<h4 class="text-center">Modificación del Empleado-Usuario</h4>
<br/>

<%= form_tag :action => :actualiza, :id => @empleado.id do %>
	<div class="row">
		<div class="col-md-6">
			<%= render 'formempleado' %>
		</div>
		<div class="col-md-6">
			<%= render 'formusuario' %>
		</div>
	</div>
	<div class="text-center">
		<small>Nota: Los campos marcados con * son obligatorios</small><br/><br/>
		<%= submit_tag "Guardar cambios", :onclick=>"return validarFormularioEmpleados()", class: 'btn btn-sm btn-primary', id: 'btnGuardar'%>
        <%= link_to "Cancelar", '#', class: 'btn btn-sm btn-danger', data: { toggle: 'modal', target: '#ModalForm'} %>
	</div><br/><br/>
<% end %>
