<div class="panel panel-info">
  <div class="panel-heading"><h4 class="text-center">Catálogo de Categorías</h4></div>
  <div class="panel-body">
    <br>
    <% if @categorias.size > 0 %>
    <table class="table table-sm table-bordered">
      <thead class="bg-primary text-light">
      <th width="80%">Nombre</th>
      <th colspan="2">Opciones</th>
      </thead>
      <tbody>
      <% @categorias.each do |categoria| %>
        <tr>
          <td><%= categoria.nombre %></td>
          <td class="text-center"><%= link_to ( fa_icon 'edit'), edit_categoria_path(categoria),title: 'Editar' %></td>
          <td class="text-center"><%= link_to ( fa_icon 'trash'), '#',data: { toggle: 'modal', target: '#ModalIndex' },
                                              onclick:('cambiarIdYNombre('+categoria.id.to_s+',"'+@controlador.to_s+'","'+ @controladorSingular.to_s+'","'+ categoria.nombre+'");return false;').to_s,
                                              title: 'Eliminar' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
      <% else %>
      <br>
      <h5 align="center"><%= "No existen categorías actualmente" %> </h5>

      <% end %>
    <table class="table text-center" >
      <tr>
        <td><%= link_to 'Nueva', new_categoria_path ,class: 'btn btn-primary btn-sm'%></td>
      </tr>
    </table>
  </div>
</div>