
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <%= link_to "Inicio", root_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Configuración",configuraciones_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Tipos de Pagos", tipos_pagos_path, class: 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to "Proveedores", proveedores_path, class: 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to "Clientes", clientes_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Unidades", unidades_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Productos", productos_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Categorías", categorias_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Permisos",permisos_mod_usuarios_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Empleados-Usuarios", empleados_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Inventarios", inventarios_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Sucursales", sucursales_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Terminales", terminales_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Promociones ", descuentos_path, class: 'nav-link' %>
    </li>
  </ul>
</nav>


